[Unit]
Description=Command and Control Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/minimega/phenix-command-and-control.sh
RemainAfterExit=true
StandardOutput=journal

{{ if .AutoStart }}
[Install]
WantedBy=multi-user.target
{{ end }}
