name: go

env:
  GO_VERSION: 1.24.4

on:
  pull_request:
    branches: [ "**" ]
    paths:
      - 'src/go/**.go'
      - 'src/go/go.mod'
      - 'src/go/go.sum'
      - '.github/workflows/go.yml'

jobs:

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          working-directory: src/go

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run Tests
        working-directory: src/go
        run: go test ./...
